__pycache__/
*py[cod]
*.pyo
Python
*.egg-info

venv/
.venv/
env/

.env
.env.local
*.env


api/__pycache__
core/__pycache__
models/__pycache__
services/__pycache__


.vscode/
.idea/
*.swp
*.swo

.dockerignore
.bat
